@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-card {
  @apply w-full cursor-pointer hover:scale-105 duration-200 flex gap-3 items-center justify-center h-[150px] rounded-xl;
}

.loading {
  @apply fixed left-[40%] lg:left-[55%] top-[50%] lg:top-[45%] w-[70px];
}

.page {
  @apply flex flex-col lg:flex-row;
}

.rhap_container {
  @apply bg-slate-700 h-[80px] text-white !important;
}